/* ------------------------------------------------------------------- */
.container{
    justify-content: center;
}

h2{
    color:white;
    text-align:center;
    justify-content:center;
    }

.videos{
    width: 900px;
    height: 520px;
    border:none;
}

.li-capitulos{

}

.container-videos{
    justify-content: center;
    display: flex;
}